.posts {
  padding-left: 15px; 
}

.post-content {
  margin: 5px 0;
}

div.top-level-post > div.post-content > div.text {
  font-size: 26px;
}

.date {
  color: rgb(244, 67, 54);
  font-size: 12px;
  font-style: italic;
  margin: 3px 0 5px 0;
}